<nav class="navbar navbar-expand-lg sticky-top bg-white">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand">
           <img src="../assets/img/danny.png" width="30" height="20" alt="skool" class="align-baseline">
         <span style="font-size:30px; color:black;">SKOOL</span>
         <br>
         <span class="text-muted"> India's No 1 School Portal</span>
         </a>
      <button class="navbar-toggler navbar-toggler-icon navbar-toggler-right skool-navbar-rt" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <i class="now-ui-icons arrows-1_minimal-down"></i>
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav">
        <li style="padding:10px;">
          <a class="nav-link" style="font-size:20px; color:black;" href="/#/addSchools"> Register your school ?</a>
        </li>
        <li style="padding:10px;">
          <a class="nav-link" style="font-size:20px; color:black;" href="#" ng-click="main.logout();"><i class="now-ui-icons users_circle-08"></i>Sign Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <h3 class="h-center">APPLICATION FORM</h3>
<div class="row justify-content-center">
    <div class="col-sm-8 progress-container">
    <span class="progress-badge">STEP 1</span>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
        <span class="progress-value">25%</span>
      </div>
    </div>
  </div>
</div>

  <br><br>
  <form class="form" ng-submit="search.saved1(search.applicationData); search.save(search.applicationData);">
    <div class="row justify-content-center application-form">

      <div class="col-lg-4 col-sm-4 col-md-4 app">
        <div class="row">
          <label class="col-md-12 col-sm-12 col-lg-12 col-form-label">STUDENT NAME</label>
          <div class="col-md-12 col-lg-12 col-sm-12">
            <input type="text" class="form-control form-control-lg" ng-model="search.applicationData.studentName" placeholder="Enter a location Eg. City,locality or landmark" required>
          </div>
        </div>
        <div class="row">
          <label class="col-md-12 col-lg-12 col-sm-12 col-form-label">PROGRAM</label>
          <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="btn-group">
              <label class="btn btn-primary"><input type="radio" class="form-control form-control-lg" ng-model="search.applicationData.program" value="cbse" name="radio1" required>CBSE</label>
              <label class="btn btn-primary"><input type="radio" class="form-control form-control-lg" ng-model="search.applicationData.program" value="icse" name="radio1" required>ICSE</label>
              <label class="btn btn-primary"><input type="radio" class="form-control form-control-lg" ng-model="search.applicationData.program" value="state board" name="radio1" required>STATE-BOARD</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12">
            <label class="col-form-label">LANGUAGE</label>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12">
            <input type="text" class="form-control form-control-lg" ng-model="search.applicationData.language" placeholder="EX. TAMIL,ENGLISH,FRENCH,BENGALI" required>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-1 col-lg-1 col-sm-1 offset-md-10 offset-lg-10 offset-sm-10">
            <br><br>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 app">

        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12">
            <label class="col-form-label">NATIONALITY</label>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12">
            <input type="text" class="form-control form-control-lg" ng-model="search.applicationData.nationality" placeholder="EX. Indian" required>
          </div>
        </div>
        <div class="row">
          <label class="col-md-12 col-lg-12 col-sm-12 col-form-label">GENDER</label>
          <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="btn-group">
              <label class="btn btn-primary"><input type="radio" class="form-control form-control-lg" ng-model="search.applicationData.gender" value="male" name="radio2" required>MALE</label>
              <label class="btn btn-primary"><input type="radio" class="form-control form-control-lg" ng-model="search.applicationData.gender" value="female" name="radio2" required>FEMALE</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12">
            <label class="col-form-label">AGE</label>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="datepicker-container">
              <div class="form-group">
                <input type="text" class="form-control form-control-lg" ng-model="search.applicationData.age" placeholder: "ex..5" required>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="row justify-content-end">
          <div class="col-md-1 col-lg-1 col-sm-1 offset-md-8 offset-lg-8 offset-sm-8">
            <button class="btn btn-link btn-primary" type="submit">next >></button>
            <br><br>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
