<nav class="navbar navbar-expand-lg sticky-top bg-white">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand">
           <img src="../assets/img/danny.png" width="30" height="20" alt="skool" class="align-baseline">
         <span style="font-size:30px; color:black;">SKOOL</span>
         <br>
         <span class="text-muted"> India's No 1 School Portal</span>
         </a>
      <button class="navbar-toggler navbar-toggler-icon navbar-toggler-right skool-navbar-rt" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <i class="now-ui-icons arrows-1_minimal-down"></i>
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav">
        <li style="padding:10px;">
          <a class="nav-link" style="font-size:20px; color:black;" href="/#/addSchools"> Register your school ?</a>
        </li>
        <li style="padding:10px;">
          <a class="nav-link" style="font-size:20px; color:black;" href="#" ng-click="main.logout();"><i class="now-ui-icons users_circle-08" style="transform:translateY(-3px);"></i>Sign Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid" style="min-height:800px;">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-8 col-sm-10" style="background-color:grey; border-top-left-radius:15px; border-top-right-radius:15px; color:white;height:90px; text-align:center;">
      <h4>
  Failure in application Submission
  </h4>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-8 col-sm-10" style="background-color:lightgrey; color:grey; border-bottom-left-radius:15px; border-bottom-right-radius:15px;">
      <p>
        <br> Your application has been successfully submited you will get a call from the school administration or from our "skool" regarding your application status.
        <br><br>
      </p>
    </div>
  </div>


      <br><br><br>
      <div class="row justify-content-center">
    <input type="button" class=" btn btn-md btn-default col-sm-1 offset-sm-6 col-md-2  offset-md-5 col-lg-1 offset-lg-6" value="HOME" ng-click="search.back();">
</div>
</div>
