<nav class="navbar navbar-expand-lg sticky-top bg-white">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand">
           <img src="../assets/img/danny.png" width="30" height="20" alt="skool" class="align-baseline">
         <span style="font-size:30px; color:black;">SKOOL</span>
         <br>
         <span class="text-muted"> India's No 1 School Portal</span>
         </a>
      <button class="navbar-toggler navbar-toggler-icon navbar-toggler-right skool-navbar-rt" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <i class="now-ui-icons arrows-1_minimal-down"></i>
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav">
        <li style="padding:10px;">
          <a class="nav-link" style="font-size:20px; color:black;" href="/#/addSchools"> Register your school ?</a>
        </li>
        <li style="padding:10px;">
          <a class="nav-link" style="font-size:20px; color:black;" href="#" ng-click="main.logout();"><i class="now-ui-icons users_circle-08"></i>Sign Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--
<nav class="navbar navbar-light bg-faded">
  <div class="row">
    <div class="col-sm-6 nav-check">
      <ul class="nav">
        <li class="nav-item">
          <a class="navbar-brand">
<img src="../assets/img/danny.png" width="30" height="25" class="d-inline-block align-top" alt="skool">
<span style="font-size:30px;">SKOOL</span>
</a>
        </li>
      </ul>
      <span style="color:grey"> India's No 1 School Portal</span>
    </div>
    <div class="col-sm-6">
      <ul class="nav justify-content-end">
        <li class="nav-item" style="font-size:20px; padding:20px;">
          <a class="nav-signout" style="font-size:20px; color:black;" href="#" ng-click="main.logout();">Sign Out</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" style="font-size:20px; color:black;"  href="/#/addSchools"><i class="now-ui-icons users_circle-08"></i> {{main.username}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
navbar-->
<!--navbar-end-->
<!--container-->
<!--search-bar-->
<div class="search-bar">
  <div class="search-bar-space">
    <div class="container">
      <div class="row" style="background-color:;">
        <form class="form" ng-submit="search.searchfn(searchData);" style="width:100%;">
          <div class="input-group ip-over-o">
            <input type="text" class="form-control form-control-md ip-over " placeholder="Enter a location Eg. City,locality or landmark">
          </div>
          <hr>
          <!--  <div class="row">
        <div class="col-3 offset-sm-2 col-md-3 col-lg-3">
          <select class="custom-select" style="border: 2px solid green;">
  <option selected>Select Board Type</option>
  <option value="1">  CBSE </option>
  <option value="2"> ICSE </option>
  <option value="3"> STATE BOARD</option>
</select>
        </div> -->

<div class="dropper">
  <div class="drops">
  <div class="dropper-btn">
<button>dropdown</button>
  </div>
  <div class="dropper-value">
    <p value="coed"> Co-education</p>
    <p value="boys"> Boys </p>
    <p value="girls"> Girls</p>
  </div>
  </div>
</div>

        <!--
          <div class="input-group ip-over-p">
            <select class="form-control" id="ip-o" ng-model="search.searchData.schoolmode">
         <option value="coed"> Co-education </option>
         <option value="boys"> Boys </option>
         <option value="girls"> Girls</option>
       </select>
          </div>
          <br>
          <div class="input-group ip-over-q">
            <button type="submit" class="btn btn-md btn-default">SEARCH</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
    <!--
      <div class="col-3 col-md-3 col-lg-2">
      <select class="custom-select" style="border: 2px solid green;">
  <option selected>Select Boarding/Non boarding</option>
  <option value="1">Boarding</option>
  <option value="2">Non Boarding </option>
</select>
        </div>
      -->

<!--searchbar-end-->
<!--main-container-end-->
<br><br>

<div class="features">
  <div infinite-scroll='search.loadMore()' infinite-scroll-distance='2' ng-repeat='school in schoolCollection track by $index'>
    <div class="row justify-content-center">
      <div class="col-sm-8 card" style="padding:20px;">
        <h3 class="center-heading" style="text-transform:uppercase;">{{school.schoolname}}</h3>
        <p><span class="badge badge-default">{{school.schooltype}} </span>
          <span class="badge badge-default">{{school.schoolmode}} </span></p>
        <p class="text-primary" style="text-transform: capitalise;"> <span class="text-primary">Applications Availablity :</span> <span class="text-muted"> {{school.schoolapplication}}</span></p>
        <p><span class="text-primary">Location :</span> <span class="text-muted">{{school.schoolcity}} </span>|| <span class="text-primary">Classes upto :</span> <span class="text-muted">{{school.schoolclasses}} standard</span></p>
        <p><span class="text-primary">About School :</span></p>
        <p class="center-passage"><span class="text-muted">{{school.schooldescription}} </span></p>
        <input type="button" class="btn btn-lg btn-default" ng-click="search.apply(school);" value="APPLY">
      </div>
    </div>
  </div>
</div>
<!--
<div infinite-scroll='loadMore()' infinite-scroll-distance='2'>
<img ng-repeat='image in images' ng-src='http://placehold.it/225x250&text={{image}}'>
</div>
-->
